* {
    margin: 0;
    padding-left: 0;
};

html {
    height: 100%;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: $bg-color;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

